@import '../../Styles//constants.scss';

.loginWrapper {
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2rem;
  border-bottom: 1px solid;
  background-color: color('gray2');
}

.loggedInContentWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.accountInfoWrapper {
  color: #fff;
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}
