@import '../../Styles/constants.scss';

.routesWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.navLink {
  height: 2.5rem;
  display: flex;
  color: white !important;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  &:hover {
    opacity: 0.5;
    transition: ease-out 0.3s;
  }
}

.active {
  border-bottom: 1px solid;
}

.logo {
  height: auto;
  width: 2.5rem;
}
