@import '../../Styles//constants.scss';

.overviewWrapper {
	display: grid;
	grid-template-areas: 'routes header'
												'routes body';
	grid-template-columns: 0.1fr 0.9fr;
}

.overviewHeader {
	grid-area: header;
}

.overviewBody {
	background-color: color('gray5');
	grid-area: body;
}

.overviewRoutes {
	grid-area: routes;
}
