@import '../../Styles/constants.scss';

.notFoundWrapper {
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
};

.notFoundCode {
  font-size: 4 * fz(xl);
}

.notFoundText {
  font-size: 2 * fz(xl)
}
