.protocolroot {
	margin: 1rem;
	width: 180px;
}

.protocolHeader {
	margin: 1rem;
	font-size: 2rem;
}

.protocolbullet {
	display: inline-block;
	margin: 0px 2px;
}

.protocoltitle {
	font-size: 14px;
}

.protocolpos {
	margin-bottom: 12px;
}

.protocolTotalLocked {
	width: 200px;
	margin: 1rem;
	padding: 1rem 0.5rem;
}

.protocolGraphWrap {
	display: flex;
	flex-direction: row;

}
.protocolChart > svg{
	width: 400px !important;
}