@import '../../Styles/constants.scss';

.protocolWrapper {
  padding: 0 3rem 3rem;
}

.protocolRoot {
	margin: 1rem;
	width: 150px;
	height: 100px;
}

.protocolHeader {
	margin: 3rem 2rem 1rem;
  font-size: fz(xl);
}

.protocolBullet {
	display: inline-block;
	margin: 0px 2px;
}

.protocolTitle {
	font-size: fz(x);
}

.protocolPosition {
	margin-bottom: 12px;
}

.protocolTotalLocked {
	width: 200px;
	margin: 1rem;
	padding: 1rem 0.5rem;
}

.protocolMarginTotalLocked {
	width: 200px;
	margin: 1rem 2rem;
	padding: 1rem 0.5rem;
}

.protocolGraphWrap {
	display: flex;
	flex-direction: row;
}

.protocolChart > svg{
	width: 400px !important;
}

.protocolTable {
	width: 850px;
}

.positionsTableContainer {
  margin-left: 1rem;
}

.myPositionLogin {
  font-size: fz(l);
  margin: 2rem 2rem;
  color: color('material-red');
}
